{% extends 'base.html.twig' %}
{% block title %}Gérer les options{% endblock title %}
{% block body %}
    <div class="container">
        <h1>Gérer les options</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for specification in specifications %}
            <tr>
                <td>{{ specification.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin.specifications.edit', {id: specification.id}) }}">Editer</a>
                    <form method="POST"
                          action="{{ path('admin.specifications.delete', {id: specification.id}) }}"
                          style="display : inline-block" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette option ? ')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specification.id) }}">
                        <button class="btn btn-danger">Supprimer l'option</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div >
            <a class="btn btn-primary" href="{{ path('admin.specifications.new') }}">Créer une nouvelle option</a>
        </div>
    </div>
{% endblock %}